button {
    display: inline-block;
    font-weight: bold;
  }
  
  #gridContainer {
    height: 100%;
    width: 47%;
    display: block;
  }
  
  #csvResult {
    height: 100%;
    width: 47%;
    margin-left: 5%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1em;
  }
  